? my $c = shift;
? my $itr = $c->{itr};
? my $max_page = $c->{max_page};
? my $this_page = $c->{this_page};
? my $user_itr = $c->{user_itr};
? my $item_itr = $c->{item_itr};
? my $user_id = $c->{user_id};
? my $item_id = $c->{item_id};
<!DOCTYPE HTML>
<html>
<head>
  <title>User Item Viewer - powerd by Nephia</title>
  <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.css" />
  <link rel="shortcut icon" href="/static/favicon.ico" />
  <script src="/static/bootstrap/js/bootstrap.js"></script>
  <script src="/static/js/jquery.js"></script>
  <style>
    body {
      padding-top: 60px;
    }
  </style>
</head>
<body>

  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a href="/"><span class="brand">User Item Viewer</span></a>
      </div>
    </div>
  </div>

  <div class="container">
    <h2><a href="/">User Item Viewer</a></h2>
    <table class="table table-striped">
    <thead>
      <tr>
        <th>user</th>
        <th>item</th>
        <th>amount</th>
        <th>change</th>
      </tr>
    </thead>
? while (my ($user_item, $user, $item) = $itr->next) {
    <tr>
        <td><a href="/user/<?= $user->id ?>"><?= $user->name ?></a></td>
        <td><a href="/item/<?= $item->id ?>"><?= $item->name ?></a></td>
        <td><?= $user_item->amount ?></td>
        <td>
          <div class="btn-group">
            <a href="/user/<?= $user->id ?>/item/<?= $item->id ?>/minus">
              <button class="btn btn-mini">--</button>
            </a>
            <a href="/user/<?= $user->id ?>/item/<?= $item->id ?>/plus">
              <button class="btn btn-mini">++</button>
            </a>
          </div>
        </td>
    </tr>
? }
    </table>

? my $page_base_url = '';
? if (defined $user_id) {
?     $page_base_url .= '/user/'.$user_id;
? }
? elsif (defined $item_id) {
?     $page_base_url .= '/item/'.$item_id;
? }

    <div class="pagination pagination-centered">
      <ul>
? if ($this_page - 1 > 0) {
        <li><a href="<?= $page_base_url ?>/page/<?= $this_page - 1 ?>">Prev</a></li>
? }
? for my $page (1..$max_page) {
          <li><a href="<?= $page_base_url ?>/page/<?= $page ?>"><?= $page ?></a></li>
? }
? if ($max_page > $this_page) {
        <li><a href="<?= $page_base_url ?>/page/<?= $this_page + 1 ?>">Prev</a></li>
? }
      </ul>
    </div>

  <h2>Manage</h2>
    <form action="/user/register" method="POST" class="input-append">
      <input name="user_name" type="text" class="span2">
      <button type="submit" class="btn">Register User</button>
    </form>

    <form action="/item/register" method="POST" class="input-append">
      <input name="item_name" type="text" class="span2">
      <button type="submit" class="btn">Register Item</button>
    </form>

    <form action="/user/add_item" method="POST" class="form-inline">
      <select name="user_id">
        <option value="">User</option>
? while (my $user = $user_itr->next) {
        <option value="<?= $user->id ?>"><?= $user->name ?></option>
? }
      </select>
      <select name="item_id">
        <option value="">Item</option>
? while (my $item = $item_itr->next) {
        <option value="<?= $item->id ?>"><?= $item->name ?></option>
? }
      </select>
      <button type="submit" class="btn">Add Item to User</button>
    </form>

    <footer>
      <p class="pull-right">Generated by Nephia</p>
    </footer>
  </div>
</body>
</html>

